body.dark-mode {
    background-color: #121212;
    color: #FFF;
}

/* Dark Mode Specific Styles for Elements */
header.dark-mode {
    background-color: #016074;
}

.about-btn.dark-mode {
    background-color: #167c4b;
    color: #d5efe2;
}

.about-btn.dark-mode:hover {
    background-color: #7acaae;
}

.file-browser.dark-mode,
.image-display.dark-mode,
.about.dark-mode,
.reminder.dark-mode,
.color-picker-container.dark-mode,
.color-picker.dark-mode,
.color-input.dark-mode,
.color-presets-container.dark-mode,
.color-preset.dark-mode {
    background-color: #00080c;
    color: #bad1da;
    border-color: #002d44;
}

.color-picker-container.dark-mode p {
    color: #bad1da;
}

.color-presets-container.dark-mode {
    margin-top: 15px; /* Spacing above the color presets in dark mode */
}

.color-presets-container.dark-mode p {
    margin-bottom: 15px; /* Spacing between the color text box and the "Color Presets" text in dark mode */
}

.color-preset.dark-mode {
    margin: 10px 0; /* Spacing between presets in dark mode */
}

body.dark-mode .bg-teal,
body.dark-mode .bg-primary {
    background-color: #004e6f;
}

.reminder.dark-mode p {
    color: #bad1da;
}

.announcement.dark-mode {
    color: #09b361;
}

.announcement-box.dark-mode {
    background-color: #024b28;
    border-color: #167c4b;
}

.file-btn.dark-mode {
    background-color: #167c4b;
    color: #d5efe2;
}

.file-btn.dark-mode:hover {
    background-color: #7acaae;
}

body, 
header, 
.about-btn, 
.file-browser, 
.image-display, 
.about, 
.reminder, 
.announcement, 
.announcement-box, 
#fileLabel, 
.bg-teal {
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}
