body.light-mode {
    background-color: #E9ECEF;
    color: #000;
}

/* Light Mode Specific Styles for Elements */
body.light-mode .bg-teal {
    background-color: #CAF0F8;
}

body.light-mode .bg-primary {
    background-color: #CAF0F8;
}

.color-presets-container.light-mode {
    margin-top: 15px; /* Spacing above the color presets in light mode */
}

.color-presets-container.light-mode p {
    margin-bottom: 15px; /* Spacing between the color text box and the "Color Presets" text in light mode */
}

.color-preset.light-mode {
    margin: 10px 0; /* Spacing between presets in light mode */
}
