* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #E9ECEF;
    position: relative;
}

.bg-shape {
    width: 520px;
    height: 520px;
    border-radius: 9999px;
    z-index: -1;
    position: absolute;
    filter: blur(200px);
}

.bg-teal {
    background-color: #CAF0F8;
    top: -100px;
    left: -100px;
}

.bg-primary {
    background-color: #CAF0F8;
    bottom: -100px;
    right: -100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00B4D8;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 5px;
}

.right-header-buttons {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
}

.logo img {
    width: 200px;
    height: 50px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.about-btn {
    background-color: #03045E;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.about-btn:hover {
    background-color: #1D3557;
}

.about {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    margin-top: 20px;  /* Reduce the top margin */
    border-radius: 10px;        
}

.about p {
    margin-bottom: 15px;
    font-size: 14px;
}

.about strong {
    font-weight: bold;
}

.reminder {
    background-color: #ffffff;
    border-style: solid;
    border-color: #00B4D8;
    border-width: 1px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.reminder p {
    margin-bottom: 15px;
    color: #005262;
    font-size: 14px;
    padding: 2px;
    margin: 1px;
}

.reminder strong {
    font-weight: bold;
}

.reminder-title {
    font-size: 16px;
}

.announcement {
    font-size: 16px;
    color: #024b28;
}
.announcement-box {
    background-color: #97d6b8;
    border-style: solid;
    border-color: #48bc84;
    border-width: 1px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    gap: 15px;
}

.file-browser {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 25%;
    text-align: center;
    border: 2px dashed #aaa;
    transition: background-color 0.3s;
}

.file-browser.dragover {
    background-color: #f0f0f0;
}

.image-display {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 75%;
    text-align: center;
}

.file-browser p {
    margin-bottom: 20px;
}

.file-btn {
    background-color: #03045E;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

.file-btn:hover {
    background-color: #1D3557;
}

.gif-container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.gif-container img, .gif-container video {
    object-fit: contain;
}

.gif-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.gif-wrapper p {
    font-weight: bold;
    margin-bottom: 10px;
}

.gif-resolution {
    font-size: 12px;
    color: #9a9a9a;
    text-align: center;
    margin-top: 5px;
}

#file1 {
    display: none;
}

#fileName {
    margin-top: 25px;
}

.reduced-line-height {
    line-height: 1.2; /* Adjust this value as needed */
}

#playPauseBtn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #035e32;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#playPauseBtn:hover {
    background-color: #048949;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #00090c;
    color: #bad1da; /* Font colour */
}

header.dark-mode {
    background-color: #016074;
}

.about-btn.dark-mode {
    background-color: #167c4b;
    color: #d5efe2; /* Font colour */
}

.about-btn.dark-mode:hover {
    background-color: #7acaae;
}

.file-browser.dark-mode, .image-display.dark-mode, .about.dark-mode, .reminder.dark-mode {
    background-color: #00080c; /* Box background colours */
    color: #bad1da; /* Font colour */
    border-color: #002d44; /* Box border colour */
}

body.dark-mode .bg-teal {
    background-color: #004e6f; /* Change this to your preferred color */
}

body.dark-mode .bg-primary {
    background-color: #004e6f; /* Change this to your preferred color */
}

.reminder.dark-mode p {
    color: #bad1da;
}

.announcement.dark-mode {
    color: #09b361;
}

.announcement-box.dark-mode {
    background-color: #024b28;
    border-color: #167c4b;
}

.file-btn.dark-mode {
    background-color: #167c4b;
    color: #d5efe2; /* Font colour */
}

.file-btn.dark-mode:hover {
    background-color: #7acaae;
}

.dark-mode-btn {
    margin-left: 10px; /* Optional: add space between About button and lightbulb */
}

.dark-mode-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.dark-mode-btn:focus {
    outline: none;
}

/* Mobile view */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .right-header-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 10px 0;
        gap: 20px; /* Adds space between the buttons */
    }

    .logo, .title {
        margin: 5px 0;
    }

    .about-btn, .dark-mode-btn {
        width: auto;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .file-browser, .image-display {
        width: 100%;
        margin: 15px 0;
    }
}

/* Darkmode toggle */
.dark-mode-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: inherit;
}

.dark-mode .dark-mode-btn {
    color: white;
}
