/* Toggle Switch Styles */
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px; /* Updated to accommodate the new width of the toggle */
    height: 40px;
}

.toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    background-color: #f3d775;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; /* Updated to space-around for better icon placement */
    padding: 0 5px;
    border-radius: 15px;
    border: 1px solid #9e7f10;
    overflow: hidden; /* Ensure icons don't overflow */
}

.toggle-label .sun-icon,
.toggle-label .moon-icon {
    transition: transform 0.3s ease;
    font-size: 18px;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #333;
}

.toggle-checkbox:checked + .toggle-label .sun-icon {
    transform: translateX(25px); /* Adjusted translation distance */
}

.toggle-checkbox:checked + .toggle-label .moon-icon {
    transform: translateX(-25px); /* Adjusted translation distance */
}
