header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00B4D8;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 5px;
}

.right-header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 131px;
    height: 52px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.about-btn {
    background-color: #03045E;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.about-btn:hover {
    background-color: #1D3557;
}
